<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source=DESKTOP-9O6C3KR;Initial Catalog=exercise_sqldatabse;Integrated Security=True;Encrypt=True;Trust Server Certificate=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>